.hero {
  background: url("hero-image.jpg") no-repeat center center;
  background-size: cover;
  color: #ffffff;
}

.news .card {
  margin-bottom: 20px;
  border: 1px solid rgba(60, 64, 67, 0.15);
}


.quick-links .card {
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 20px;
}

.quick-links .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.mission h3 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

section {
  padding: 60px 0;
}

.bg-light {
  background-color: #92abc4;
}

.hover:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
              rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}

footer {
  background-color: #343a40;
}

